@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is your Clean Architecture OpenIddict OAuth Server.</p>
    <p>You can use this server to authenticate users and issue OAuth 2.0 / OpenID Connect tokens.</p>
    <p>
        <a href="/login" class="text-blue-600 hover:underline">Go to Login</a>
    </p>
</div>